---
---

/* Header

@media only screen and (min-width: 768px) and (max-width: 1109px)
  header[role="banner"] h1
    padding-top: 0px

@media only screen and (max-width: 420px)
  header[role="banner"] h1
    font-size: 2.3em

/* Past events sidebar

.past-events
  ol
    margin-bottom: 0px
    li
      font-family: "Helvetica Neue", Helvetica, Arial
  li.past-link
    margin-top: 1em
    font-weight: bold

/* Current event sidebar

.event
  p:last-child
    margin-bottom: 0px
  h2, p
    color: #fff !important

/* Description lists

dl
  dt, dd
    font-family: "Helvetica Neue", Helvetica, Arial
  dt
    font-weight: bold
  &.inline
    dd
      display: inline
      margin: 0
      &:after
        display: block
        content: ''
    dt
      display: inline-block
      min-width: 90px

/* Meetings list

.meetings .meeting-date
  margin-bottom: 0px

.meeting-details dl
  font-size: 1.2em

/* Footer

footer
  font-family: "Helvetica Neue", Helvetica, Arial
  dl
    margin-bottom: 0px
  ul#links dl.inline dt
    min-width: 120px
  dl
    dt, dd
      font-size: 0.9em

ul#sponsors
  li.text, ul.sponsor-list
    font-size: 0.9em
  li ul.sponsor-list
    margin-left: 1.5em
    width: 100%
    list-style: square
    li
      padding: 0px
